.example-card {
  width: 350px;
  height: 500px;
  margin: auto;
  border: 2px solid black;
  background-color: plum;
}
img {
  //width: 100%;
  height: 300px;
  object-fit: contain;
  background-color: plum;
}
