.example-card {
  width: 350px;
  height: 500px;
  margin: auto;
  border: 1px solid black;
  background-color: white;
  justify-content: space-evenly;
}
img {
  height: 300px;
  object-fit: contain;
  background-color: white;
}

